/projects/msvc/*.sln
/src/asm_defines/asm_defines_gas.h
/src/asm_defines/asm_defines_nasm.h

/projects/unix/_obj*/
/projects/unix/libmupen64plus*.so*
/.vscode
/projects/unix/*.dll
/src/asm_defines/*.h
